@media screen {
	#cab_print {
		display: none;
	}
	.noscreen {
		display: none;
	}

	/**************************************** BORDER ****/
	.border_top {
		border-top: 20px solid #ececec;
		padding-top: 8px;
	}
}

/**************************************** PICTURE ***/
.person-graphic {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
@media (min-width: 540px) {
	.person-graphic {
		border-radius: 50%;
		width: 144px;
		height: 144px;
	}
}
@media (min-width: 860px) {
	body {
		/* background-image: url("../img/background/body.png"); */
		/* background-image: url("../img/background/back_00.JPG"); */
		/* background-image: url("../img/background/back_08.jpg"); */
		background-attachment: fixed;
		margin-top: 100px;
		margin-bottom: 100px;
	}
}

@media (min-width: 120px) {
	body {
		margin-top: 100px;
	}
}

@media print {
	#cab_screen {
		display: none;
	}
	#foot {
		display: none;
	}
	#main_menu {
		display: none;
	}
	.nopr {
		display: none;
	}
	/**************************************** BORDER ****/
	.border_top {
		border-top: 0px solid #ffffff;
		padding-top: 8px;
	}
	body
		{
			margin-top: 0px;
		}
}


/****************************************** BODY ****/
.container {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (min-width: 600px) {
}

.painel {
	margin-bottom: 5px;
	margin-right: 5px;
	min-height: 110px;
}
/********************************************** ul li */
.item_menu {
	list-style: none;
	padding-left: 0em;
	line-height: 170%;
}
/*********************************** TABELA ***********/
th {
	background-color: #f8f8f8;
	border: 0px solid #ffffff;
	border-bottom: 1px solid #333333;
	color: #000000;
}

/******************** Font size ***********************/
.small {
	color: #888888;
	font-size: 11px;
}
.middle {
	font-size: 13px;
}
.big {
	font-size: 15px;
}

.superbig {
	font-size: 18px;
}
.xxxbig {
	font-size: 23px;
}
@media (min-width: 768px) {
	.middle {
		font-size: 15px;
	}
	.big {
		font-size: 18px;
	}

	.superbig {
		font-size: 26px;
	}
	.xxxbig {
		font-size: 40px;
	}

}
/************************ Font style **********************/
.roboto {
	font-family: RobotoThin, Tahoma, Arial, Helvetica, sans-serif;
}

.bg_item_0 {
	background-color: #eeeeee;
}
.bg_item_1 {
	background-color: #dddddd;
}
.bg_item_2 {
	background-color: #cccccc;
}
.bg_item_3 {
	background-color: #bbbbbb;
}
.red {
	color: red;
}
.textoVertical {
	writing-mode: tb-rl;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	white-space: nowrap;
}
.form_tabela2 {
	font-size: 11px;
}
/************************************* PADDING */
.pad5 {
	padding: 10px;
}
/*************** TOP MENU **********************/
.navbar {
	background-color: #3367d6;
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: #d0d0d0;
}
.navbar-default .navbar-nav > li > a:hover {
	color: white;
}